@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
   --veryDarkGreyBlue: hsl(237,12%, 33%);
   --softRed: hsl(14, 88%, 45%);
   --darkGreyBlue: hsl(240, 6%, 50%);
   --lightGreyBlue: hsl(240, 5%, 91%);
   --fontSize: 12px;
}

* {
   box-sizing: border-box;
}

html {
   font-size: var(--fontSize);
}

body {
   font-family: "Muli", sans-serif;
   background-color: #f0f0f0;
   margin: 0;
   height: 100vh;
   width: 100vw;
   background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
   display: grid;
   justify-content: center;
   align-content: center;
}

.faq-container {
   background: white;
   padding: 20px;
   border-radius: 10px;
   height: 590px;
   width: 920px;
   display: flex;
   flex-direction: column;
   grid-gap: 1rem;
   grid-template-columns: 400px 1fr;
   background-position: 1260% 65%;
}

.faq-text {
   display: none;
}

.faq-title {
   margin-top: 40px;
   display: flex;
   flex-direction: column;
}

.faq {
   width: 350px;
   border-bottom: 1px solid #e8e8ea;
}

.faq.active::before,
.faq.active::after {
   content: "\f075";
   font-family: "Font Awesome 5 Free";
   color: #2ecc71;
   font-size: 7rem;
   position: absolute;
   opacity: 0.2;
   top: 20px;
   left: 20px;
   z-index: 0;
}

.faq.active::before {
   color: #3498db;
   top: -10px;
   left: -30px;
   transform: rotateY(180deg);
}